fastapi[all]
fastapi-utils
psycopg2-binary
gunicorn
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchvision
torchaudio
transformers[torch]
onnxruntime
onnx
onnxconverter-common
coloredlogs
toml